/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

/* reset default style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base style */

body {
  background: #fcfcfc;
  font-family: "Istok Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif !important;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #212245;
}

section {
  padding: 60px 0px;
}
.logo img,.footer img{
  width:40px;
}
.container input {
  position: static;
  opacity: 1;
  cursor: pointer;
  height: 30px;
  width: 300px;
  border-radius: 10px;
   border: 0;
   border: 2px dotted blue;
   margin-bottom: 20px;
}
.container input::placeholder{
   font-size: 16px;
   text-align: center;
}

.contacts h1{
  text-align: center;
}
.contacts{
  margin-top: 50px;
  margin-bottom: 50px;
}